// fonts
$main-font-family: "Montserrat", "sans serif";
$additional-font-family: "Lato", "sans serif";

// color text
$general-text-color: #ffffff;
$sub-general-text-color: #8d81ac;

// media-size
$screen-laptop_max: 1200px;
$screen-laptop_min: 993px;
$screen-tablet-max: 992px;
$screen-tablet_min: 481px;
$screen-mobile_max: 480px;
$screen-mobile-min: 320px;
