* {
  box-sizing: border-box;
}

a,
li {
  text-decoration: none;
}

body {
  font-family: $main-font-family;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.sect-0 {
  background-color: #635c73;
  height: 240px;
  width: 100%;
}
